@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page loading</title>
    <style>
        html,body{
            height:100%;
            width:100%;
            background:#1a1a1a;
        }
        img{
            display:block;
            margin:auto
        }
    </style>
</head>
<body>
    <div>
    <img src="~/Content/Images/loading.gif" />
    </div>
</body>
</html>
