
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Passwort ändern</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="password">Altes Passwort*</label>

                                <input ng-model="User.OldPassword" placeholder="Passwort*" type="password" class="form-control"  required = "true" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="password">Neues Passwort*</label>

                                <input ng-model="User.NewPassword" placeholder="Passwort*" type="password" class="form-control"  required = "true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="password">Neues Passwort wiederholen*</label>
                                <input ng-model="User.ConfirmPassword" placeholder="Passwort wiederholen*" class="form-control" type="password"  required = "true" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" data-ng-click="change()" class="btn btn-info btn-fill ">Speichern</button><br/>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>