<div class="row" >
    <div class="col-md-5">
        <div class="card">
            <div class="header">
                <h4 class="title">Dokumente</h4>
            </div>

            <div class="content">

                Lerne anhand des Testprojektes die Vorgehensweise kennen<br/>
                <a href="data/testprojekt.pdf" class="btn btn-info btn-fill ">Testprojekt</a>
                <br/><br/>
                Bachelorarbeit<br/>
                <a href="data/bachelorarbeit.pdf" class="btn btn-info btn-fill ">Bachelorarbeit</a>



            </div>


        </div>
    </div>
</div>