
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Passwort anfordern</h4>
            </div>
            <div class="content">
                <form>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="password">E-Mail</label>
                                <input ng-model="User.Email" type="email" class="form-control" placeholder="E-mail*" required = "true" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" data-ng-click="forgotSave()" class="btn btn-info btn-fill ">Passwort zurücksetzen</button><br/>
                    <hr/>
                    <a href="/#/login/">Zum Login</a><br/>
                    <a href="/#/registration">Neues Konto registrieren</a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>