
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Projekt Info</h4>
            </div>
            <div class="content">
                <form id="info" data-ng-submit="saveProject()">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Bezeichnung</label>
                                <input type="text" class="form-control" placeholder="Bezeichnung" ng-model="project.Description"  required="required"/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" data-ng-click="requestRegistration()" class="btn btn-info btn-fill ">Speichern</button><br/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6" ng-show="project.ProjectId>0">

        <div class="card">
            <div class="header">
                <h4 class="title">Projekt Implementierung</h4>
            </div>
            <div class="content">
                <div class="alert alert-success" ng-show="alertCopied">
                    <button type="button" aria-hidden="true" class="close" data-ng-click="hideAlert('alertCopied')">×</button>
                    <span><b>Kopiert</b> Kopie im Zwischenspeicher"</span>
                </div>
                <form id="implementation" data-ng-submit="saveProject()">
                <div class="row">
                    <div class="col-lg-6" >
                        <div class="form-group">
                            <label>ProjectId</label>
                            <input type="text" class="form-control" ng-model="project.ProjectId"  readonly/> <br/>
                            <button class="btn btn-fill" type="button" clipboard text="project.ProjectId" on-copied="success()" on-error="fail(err)"><i class="pe-7s-copy-file"></i> In Zwischenablage kopieren</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Validation-Code</label>
                            <input type="text" class="form-control" ng-model="project.ValidationCode"  readonly/> <br/>
                            <button class="btn btn-fill" type="button" clipboard text="project.ValidationCode" on-copied="success()" on-error="fail(err)"><i class="pe-7s-copy-file"></i> In Zwischenablage kopieren</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Return Url</label>
                            <input type="url" class="form-control" placeholder="Bezeichnung" ng-model="project.ReturnUrl" />
                        </div>
                    </div>
                </div>
                <button type="submit" data-ng-click="requestRegistration()" class="btn btn-info btn-fill ">Speichern</button><br/>
            </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row header">
                <div class="col-md-6">
                <h4 class="title">SecurityStep</h4>
                </div>
                <div class="col-md-6">
                    <h4 class="title" ng-show="infobox.securitystepselected">Info {{infobox.securitystepselected}} </h4>
                </div>
            </div>
            <div class="content simpleDemo ">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Verwendet</h3>
                                    </div>
                                    <ul dnd-list="projectSecuritySteps">
                                        <li ng-repeat="item in projectSecuritySteps"
                                            dnd-draggable="item"
                                            dnd-moved=" movedProjectSecurityStep($index,item)"
                                            dnd-effect-allowed="move"
                                            dnd-selected="changeselectedSecurityStep(item)"
                                            ng-class="{'selected': infobox.securitystepselected === item}"
                                        >
                                            {{item}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Verfügbar</h3>
                                    </div>
                                    <ul dnd-list="availableSecuritySteps">
                                        <li ng-repeat="item in availableSecuritySteps"
                                            dnd-draggable="item"
                                            dnd-moved="movedAvailableSecurityStepst($index,item)"
                                            dnd-effect-allowed="move"
                                            dnd-selected="changeselectedSecurityStep(item)"
                                            ng-class="{'selected': infobox.securitystepselected === item}"
                                        >
                                            {{item}}
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6" ng-show="infobox.securitystepselected">

                        <div class="row">
                            <div class="col-lg-6">
                                <h5>Spider</h5>
                                <canvas id="radar" class="chart chart-radar"
                                        chart-data="securityStepCompareInfo.data" chart-labels="securityStepCompareInfo.labels">
                                </canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 surveyTotalbox">
                                <h5>Prozentueller Einsatz dieser Sicherheitsstufen nach Interaktivitätsart</h5>
                                <canvas id="bar" class="chart chart-bar"
                                        chart-data="surveyTotal.data" chart-labels="surveyTotal.labels" chart-series="series">
                                </canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 surveyAgebox">
                                <h5>Prozentueller Einsatz dieser Sicherheitsstufen nach Interaktivitätsart und Alter</h5>
                                <canvas id="bar2" class="chart chart-bar" chart-series="surveyAge.series"
                                        chart-data="surveyAge.data" chart-labels="surveyAge.labels"> chart-series="series"
                                </canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" data-ng-click="open(500,infobox.securitystepselected)" class="btn btn-info btn-fill ">Projekteintstellungen bearbeiten</button>
                                <br/><br/><br/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>


    <script type="text/ng-template" id="configSecurityStep.html">
        <div class="modal-header">
            <h3 class="modal-title">Detailangaben zum SecurityStep</h3>
        </div>

        <div class="modal-body">
            <p>Die Sicherheitsstufe kann hier noch individuell für das Projekt konfiguriert werden.<br/><br/></p>
            <div class="alert alert-danger" ng-show="alertSaveSecurityStepProjectError">
                <button type="button" aria-hidden="true" class="close" data-ng-click="hideAlert('alertSaveSecurityStepProjectError')">×</button>
                <span><b>Fehler</b>{{saveSecurityStepProjectError}}</span>
            </div>
            <form id="dynamicForm" data-ng-submit="saveSecurityStepProject()" >


            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger btn-fill" type="button" ng-click="cancel()">Abbrechen</button>
            <button class="btn btn-info btn-fill" type="button" ng-click="saveSecurityStepProject()">Änderungen speichern</button>

        </div>
    </script>
</div>
